.wrapperDetailProductUpperInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.detailProductImage {
    max-height: 520px;
}

.detailProductInfo {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    flex: 3;
}

.productTitle {
    font-size: 3em;
}

.productUpperInfoUpperWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.productPrice {
    font-size: 2em;
    color: #e74c3c;
}

.productAddToShoppingCartButton {
    font-size: 2em !important;
    background-color: #e74c3c;
    color: #ecf0f1;
    border-radius: 4px;
    padding: 8px;
}

.productAddToFavoriteButton {
    font-size: 2em !important;
    background-color: #bdc3c7;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-left: 0.5em;
}

.productDescription {
    margin-top: 1em;
}

.productInfoDivider {
    background-color: #bdc3c7;
    height: 1px;
    width: 100%;
    margin-top: 1em;
}