.icon {
    color: #7f8c8d;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}

.searchButton {
    max-height: 52px;
    margin-left: -3px;
    margin-right: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.logo {
    margin-right: 8px;
    max-height: 42px;
}

.headerItemsWrapper {
    width: 63%;
    padding: 8px;
    margin: auto;
    display: flex;
}

.subHeaderItemsWrapper {
    width: 63%;
    padding: 8px;
    margin: auto;
    display: flex;
}

.wrapperHeader {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #bdc3c7;
}

.wrapperSubHeader {
    position: fixed;
    width: 100%;
    top: 63px;
    background-color: #fff;
    border-bottom: 1px solid #bdc3c7;
}

.category {
    display: flex;
    flex-direction: row;
}

.categoryWrapper {
    display: flex;
}

.categoryWrapper:last-child .categoryDivider {
    display: none;
}

.categoryDivider {
    margin-left: 8px;
    margin-right: 8px;
}