.productsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.productWrapper {
    flex: 25%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 3px rgba(0,0,0,0.10);
    max-height: 320px;
    max-width: 25%;
    text-align: center;
}

.productPriceLabel {
    position: absolute;
    border-radius: 4px;
    padding: 3px;
    margin: 12px;
    color: #fff;
    background-color: #e74c3c;
}

.productFavorite {
    position: absolute;
    right: 12px;
    top: 12px;
    margin: 4px;
    cursor: pointer;
}

.productImageWrapper {
    height: 200px;
}

.productImage {
    max-height: 180px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.productLink {
    text-decoration: none;
    color: #7f8c8d;
    display: block;
    text-align: center;
}

.productName {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.isFavorite {
    color: #e74c3c;
}