* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 1em;
    height: 300px;
}

.productContainer:after {
    content: "";
    display: table;
    clear: both;
}

.productContainerHorizontal {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.horizontal {
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
}