.productItem {
    display: relative;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 3px rgba(0,0,0,0.20);
    height: 300px;
    margin: 4px;
    padding: 4px;
}

.productItemPrice {
    position: absolute;
    border-radius: 4px;
    background-color: #e74c3c;
    color: #fff;
    padding: 3px;
}

.productItemOldPrice {
    position: absolute;
    margin-top: 28px;
    border-radius: 4px;
    background-color: #ecf0f1;
    text-decoration: line-through;
    padding: 3px;
}

.productItemFavorite {
    float: right;
    color: #7f8c8d;
}

.productItemImage {
    max-height: 220px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.productListGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.productItemLink {
    text-decoration: none;
    color: #7f8c8d;
}