.productItem {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 3px rgba(0,0,0,0.20);
    height: 300px;
    margin: 4px;
    padding: 4px;
}

.productItemHorizontal {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 3px rgba(0,0,0,0.20);
    margin: 4px;
    padding: 4px;
}

.productItemPrice {
    position: absolute;
    border-radius: 4px;
    background-color: #e74c3c;
    color: #fff;
    padding: 3px;
    margin: 12px;
}

.productItemOldPrice {
    position: absolute;
    margin-top: 28px;
    border-radius: 4px;
    background-color: #ecf0f1;
    text-decoration: line-through;
    padding: 3px;
}

.productItemFavorite {
    position: absolute;
    right: 12px;
    top: 12px;
    margin: 4px;
}

.productItemFavorite:hover {
    cursor: pointer;
}

.productItemImage {
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
}

.productItemImageHorizontal {
    max-height: 160px;
    width: auto;
}

.productItemLink {
    text-decoration: none;
    color: #7f8c8d;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.productItemLinkHorizontal {
    text-decoration: none;
    color: #7f8c8d;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.productName {
    width: 100%;
    text-align: center;
}

.productNameHorizontal {
    margin: 0.5em;
    font-size: 2em;
    width: 100%;
}

.isFavorite {
    color: #e74c3c;
}