.registerFormCardContainer {
    width: 100%;
}

.registerFormCard {
    width: 50%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.registerFormContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}